<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MyHome</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{url_for('static', filename='js/watch.js')}}"></script>
<!--    경로 순서 기억할 것_{{url_for('상위폴더',filename='파일상세경로')}}-->
</head>
<body>
    <h1>Welcome to my WebSite!!</h1>
    <h2>인공지능 스피커 - 프렌즈</h2>
    <img src="{{url_for('static', filename='images/friend2.png')}}" width="550" height="350">
    <p id="demo"></p>
</body>
</html>